pipeline/Foreach_Example2.json
{
	"name": "Foreach_Example2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TablesToCopy",
					"value": [
						{
							"query": "SELECT * FROM Product WHERE ProductID > 100",
							"foldername": "Product",
							"filename": "product.json"
						},
						{
							"query": "SELECT * FROM Customer WHERE CustomerID > 100 AND CustomerID < 1000",
							"foldername": "Customer",
							"filename": "customer.json"
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TablesToCopy') ",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sql_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"query": {
											"value": "@item().query",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_json",
									"type": "DatasetReference",
									"parameters": {
										"foldername": "@item().foldername",
										"filename": "@item().filename"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"TablesToCopy": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-10T18:11:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}